@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.rainbow {
  background: linear-gradient(270deg, #4166FF, #FF5C87);
  background-clip: text;
  color: transparent;
}

.rainbow-reverse {
  background: linear-gradient(245deg, #4166FF, #FF5C87);
  background-clip: text;
  color: transparent;
}

.messageScrollList {
  padding: 0 48px;
}